
<div class="container">
  <h1>{{title}}</h1>
<form>

  Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"> <br><br>
  Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"> <br><br>

  <input type="submit" value="sumar" (click)="sumar()" class="btn btn-secondary">
  <input type="submit" value="restar" (click)="restar()" class="btn btn-primary">
  <input type="submit" value="multiplicar" (click)="multiplicar()" class="btn btn-success">
  <input type="submit" value="dividir" (click)="dividir()" class="btn btn-warning">

</form>
<p>El resultado es: <strong>{{resultado}}</strong></p>
</div>
<br>

